.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-popup {
  max-width: 500px;
  min-height: 100px;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
}

.close-popup {
  display: flex;
  justify-content: flex-end;
}

.title-popup {
  font-size: 2.5rem;
  color: #dc2626;
  font-weight: 700;
  padding-top: 10px;
}

.description-error {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #000;
}

.container-btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 495px) {
  .container-popup {
    margin: 20px;
    padding: 20px;
  }

  .title-popup {
    font-size: 2rem;
    line-height: 1.5;
  }
}
